<div class="background-container">
  <a href=""></a>
  <div class="question-5">
    <section class="question-container">
      <div class="question-text">
        <p>When are you looking to get food?</p>
      </div>
    </section>
    <section class="dropdown-container">
      <div class="option-container">
        <label class="question-label" for="options"></label>
        <select class="dropdown" name="country-of-origin" id="origin">
          <option value="" selected hidden>Time of Day</option>
          <option value="option">Open Now</option>
        </select>
      </div>
    </section>
  </div>
  <div class="next-button">
    <a routerLink="/results-page">
      <button class="next-icon">Next</button>
    </a>
  </div>
</div>
