.background-container {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 100vh;
  width: 100vw;
}
.result-page {
  display: flex;
}
.result-text {
  flex-direction: row;
  p {
    font-size: 48px;
  }
}
.food-pick-container {
  display: flex;
  margin: auto;
}
.option-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: auto;
}
.options {
  border: solid;
  border-color: #d83d3d;
  width: 20rem;
  height: 25rem;
}
.restart-button {
  display: flex;
  align-self: flex-end;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: vw;
}
.restart-icon {
  background-color: #d83d3d;
  margin-top: 5vh;
  padding: 0.5rem 0;
  color: #ffffff;
  min-width: 8rem;
  border-radius: 0.5rem;
}
