<div class="background-container">
  <a href=""></a>
  <div class="question-2">
    <section class="question-container">
      <div class="question-text">
        <p>What is your current budget?</p>
      </div>
    </section>
    <section class="button-container">
      <div class="buttons">
        <button>$</button>
        <button>$$</button>
        <button>$$$</button>
        <button>$$$$</button>
      </div>
    </section>
  </div>
  <div class="next-button">
    <a routerLink="/question-3">
      <button class="next-icon">Next</button>
    </a>
  </div>
</div>
