<div class="background-container">
  <a href=""></a>
  <div class="question-1">
    <section class="question-container">
      <div class="question-text">
        <p>What type of cuisine are you interested in?</p>
      </div>
    </section>
    <section class="dropdown-container">
      <div class="option-container">
        <label class="question-label" for="options"></label>
        <select class="dropdown" name="country-of-origin" id="origin">
          <option value="" selected hidden>Country of Origin</option>
          <option value="option">Mexican</option>
          <option value="option">American</option>
          <option value="option">Indian</option>
          <option value="option">Mediterranean</option>
          <option value="option">Italian</option>
        </select>
      </div>
    </section>
  </div>
  <div class="back-button">
    <a routerLink="home-page"> &#8592; </a>
  </div>
  <div class="next-button">
    <a routerLink="/question-2">
      <button class="next-icon">Next</button>
    </a>
  </div>
</div>
