<div class="background-container">
    <a href=""></a>
    <section class="question-container">
        <div class=" question-text">
                <p>USER QUESTION:</p>            
        </div>
    </section>
    <section class="dropdown-container">
        <div class="option-container">
            <label class="question-label" for="options">SELECT FROM THE FOLLOWING:</label>
                <select name="country-of-origin" id="origin">
                    <option value="" selected hidden>Country of Origin</option>
                    <option value="option">Mexican</option>
                    <option value="option">American</option>
                    <option value="option">Indian</option>
                    <option value="option">Mediterranean</option>
                    <option value="option">Italian</option>
                </select>
        </div>
    </section>
</div>
