<div class="question1">
    <a href=""></a>
    <div class = "background-container">
        <div class="question-container">
            <p class="question-text">user question:</p>
        </div>
        <div class="dropdown-container">
            <div class="option-box">
                <label class="question-label" for="options"> Select from the following:</label>
                <select name="country-of-origin" id="origin">
                    <option value="" selected hidden >Country of Origin</option>
                    <option value="option">Mexican</option>
                    <option value="option">American</option>
                    <option value="option">Indian</option>
                    <option value="option">Mediterranean</option>
                    <option value="option">Italian</option>
                </select>
            </div>
            
        </div>
        <div class="startover-container">
            <p class="startover-text">start over</p>
        </div>
    </div>
</div>