<div class="background-container">
  <a href=""></a>
  <div class="question-4">
    <section class="question-container">
      <div class="question-text">
        <p>What kind of mood are we in?</p>
      </div>
    </section>
    <section>
      <div class="button-container">
        <button class="buttons">Dine-in</button>
        <button class="buttons">Take-out</button>
        <button class="buttons">Delivery</button>
      </div>
    </section>
  </div>
  <div class="next-button">
    <a routerLink="/question-5">
      <button class="next-icon">Next</button>
    </a>
  </div>
</div>
