.background-container {
    background-color: #f7f7f7;
    border-style: solid;
    border-color: #d83d3d;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 25vh;
    height: 50vh;
    width: 95vw;
  }