.background-color {
  background-color: #d9d9d9;
  height: 100vh;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  margin-top: 35vh;
}

.begin-icon {
  background-color: #d83d3d;
  margin-top: 5vh;
  padding: 0.5rem 0;
  color: #ffffff;
  min-width: 10rem;
  border-radius: 0.5rem;
}
