.background_color{
    background-color: #D9D9D9;
}
.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35rem;
}
.begin-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 2rem;
    background-color: #D83D3D;
    padding: .5rem 0;
    color: #FFFFFF;
    margin: auto;
    min-height: 2rem;
}