<div class="background-container">
  <a href=""></a>
  <div class="question-3">
    <section class="question-container">
      <div class="question-text">
        <p>How far are you willing to travel?</p>
      </div>
    </section>
    <section class="dropdown-container">
      <div class="option-container">
        <label class="question-label" for="options"></label>
        <select class="dropdown" name="distance" id="origin">
          <option value="" selected hidden>Distance in Miles</option>
          <option value="option">0 - 5 Miles</option>
          <option value="option">10 - 15 Miles</option>
          <option value="option">20+ Miles</option>
        </select>
      </div>
    </section>
  </div>
  <div class="next-button">
    <a routerLink="/question-4">
      <button class="next-icon">Next</button>
    </a>
  </div>
</div>
